@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

#root {
  background-color: #84CEEB;
  font-family: 'Klee One', cursive;
  height: 100vh;
}

#notfound-h3 {
  color: purple;
}

.header-footer{
  text-align: center;
  background-color: #5680E9;
  color: white;
}

#header-style{
  font-family: 'Sacramento', cursive;
  font-size: 7vh;
  padding: 10px 0px 10px 0px;

}

#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5680E9;
  color: white;
  text-align: center;
}

/* #notfound-cat-image{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
} */
